body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 14px;
}
* {
    margin: 0;
    padding: 0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    text-align: center;
    padding: 1rem;
    background-color: #1f1f1f;
    padding-bottom: 3rem;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

*:focus{
    outline: none;
}


ul {
    list-style: none;
}
.appbar {
    left: 0;
    position: fixed;
    background: lightblue;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;

}
.appbar li a {
    display: block;
    padding: 1rem 2rem;

}
.appbar li a.active {
    background: greenyellow;
}
.flex {
    display: flex;
}
.lobby {
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
    background: #6b6b6b;
}
.account {
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
    background: cadetblue;
}

.accountinfo {
    padding-top: 1rem;
    width: 100%;
}
img{
    max-width: 100%;
}

ul {
    margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
.button {
    margin: 1rem;

    color: #fff;

    padding: 1rem;
    display: block;
    border: 2px solid #5dc89c;
    border-radius: 0.5rem;
    width: 100%;
    background: teal;
}

.category div {
    height: 4vh;
    line-height: 1;
    background: orange;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
    display: flex;
}
.content {width: 83%;
    text-align: center;
    color: gray;
}
.content div {
    height: 8vh;
    display: flex;
    flex-direction: column;
    background: antiquewhite;
    margin: 1rem 0 1rem 0;
}

.lobbylist {
    width: 100%;
}

.todo__input{
    padding: 0.5rem;
    width: 74%;
    font-size: 1rem;

}
.todo__input + button {
    padding: 0.5rem;
    width: 18%;
}
.todo p{
    padding-top: 1rem;
}
.todo p button {
    padding: 0.5rem;

}
.todo ul {
    text-align: left;
}

a {
    text-decoration: none;
}
